@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    display: flex;
    align-content: center;
    justify-content: center; 
}
.container{
    width: 350px;
    max-width: 350px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border: none;
    row-gap: 1.5rem;
    
}
.header{
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.header i{
    font-size: 1.5rem;
    font-weight: 100;
    cursor: pointer;
}
.header p{
    cursor: pointer;
}
.header details{
    position: relative;
}
.header details summary{
    list-style: none;
}
.modal{
    position: absolute;
    background: #242322;
    border-radius: 10px;
    box-shadow: 0 10px 10px #000;
    right: 100%;
    padding: 5px 100px 5px 10px;
    cursor: pointer;
    width: max-content;
}
.modal:hover{
    background: #353434;;
}
.active{
    color: #757474;
}
.display-container{
    height: 30%;
    width: 100%;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    row-gap: 30px;
    margin: 0;
    overflow: hidden;
}
.input-container{
    border: none;
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 100%;
    align-items: baseline;
    padding: 10px;
    flex-wrap: nowrap;
}
.input-container i{
    display: flex;
    font-size: 1.5rem;
    align-self: baseline;
}
.output-container{
    font-size: 1.5rem;
    color: #fff;
    border: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    height: 50%;
    width: 100%;
    padding: 10px;
}
.emphasized{
    font-size: 2rem;
    color: #fff;
}
.downplay{
    font-size: 1.5rem;
    color: #757474;
}
.buttons-container{
    border: none;
    height: 500px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}
.btn{
    background: #242322;
    border-radius: 20px;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}
.btn:hover{
    background: #353434;
}
button{
    color: #ff7b0f;
}
input{
    color: #fff;
}
#equals-btn{
    background: #ff7b0f;
    color: #fff;
}